<!--&lt;!&ndash;  <p-tabMenu [model]="items"></p-tabMenu>&ndash;&gt;-->

<!--  <p-toolbar>-->
<!--    <div class="p-toolbar-group-start">-->
<!--      <p-button label="Home" routerLink="/" styleClass="p-button-secondary p-button-text" icon="pi pi-fw pi-home"></p-button>-->
<!--      <p-button label="Despesa" routerLink="/despesa" styleClass="p-button-secondary p-button-text" icon="pi pi-fw pi-dollar"></p-button>-->
<!--      <p-button label="Fornecedor" routerLink="/fornecedor" styleClass="p-button-secondary p-button-text" icon="pi pi-fw pi-box"></p-button>-->
<!--      <p-button label="Contas" routerLink="/conta" styleClass="p-button-secondary p-button-text" icon="pi pi-fw pi-credit-card"></p-button>-->
<!--    </div>-->
<!--    <div class="p-toolbar-group-end">-->
<!--    </div>-->
<!--  </p-toolbar>-->

    <router-outlet></router-outlet>











